body {
    font-family: 'Roboto Mono', monospace;
    min-height: 400px;
    background-color: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background-size: 100%;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.page-subtitle2 {
    color: #ffffff;
    text-align: right;
    margin-top: 50px;
    margin-right: 250px;
}

.caderno {
    position: absolute;
    top: 215px;
    width: 350px;
    left: 210px;
}

.caixa-notas {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 200px;
    padding-left: 65%;
    padding-bottom: 30px;
}

.botao-calculo {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
}

.resultado-text {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
    color: white;
}

.resultado-text h4 {
    border: 1px solid white;
    padding-right: 20px;
}